html{
  font-size: 14px;
  font-family: poppins;
  
}
body{
    margin: 0;
    background:linear-gradient(45deg,
    pink
    ,rgb(176, 243, 201)
    ,rgb(175, 224, 247)

    );
    background-size:400%;
    animation: bg-animation 20s infinite alternate ;
}
@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.navbar{
    
    display:flex;
    justify-content: space-between;
    padding:0 24px;
    margin-bottom: 24px ;

}
.logo{
    display: flex;
    gap: 6px;
    align-items: center;
}
.logotext{
   margin:0;
    font-size: 2rem;
    font-weight: 900;
}
.logoimg{
    height:32px;
    width:32px;

}
.tags{
    display: flex;
    gap:18px;
    align-items:center;
}
.tags a{
    color:gray;
    text-decoration: none;
    position: relative;
}
.tags a::after{
    content:'';
    position:absolute;
    width:100%;
    height: 3px;
    background:rgb(92, 152, 192);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: 200ms;
}
.tags a:hover:after{
    transform:scaleX(1);
    
 
}
.tags button{
    border-color: transparent;
    box-shadow:0px 0px 4px rgb(133, 133, 133);
    height:36px;
    
    border-radius:6px;
    font-size:1.25rem;
    transition: 200ms;
}
.tags button:hover{
    cursor:pointer;
    color:white;
    background-color:rgb(79, 153, 190);
}
.head{
    font-weight: 500;
    font-size: 1.75rem;
  text-align: center;
    
}
span{
    font-weight: 300;
    color: gray;
}
.info{
    font-size: 1.25rem;
    font-weight: 300;
    color: gray;
    margin: 40px auto;
    max-width: 280px;
    text-align: center;
}

.cards{
 
     display: flex;
    flex-direction: column;
    margin: 80px 80px;
    gap: 64px;
    justify-content: center;
    

}
.col1 ,.col2, .col3{
    
    
    flex: 1;
}
.col2{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.card{
   
    font-size: .8rem;
    border: solid 1px transparent;
    border-radius: 4px;
    font-weight: 400;
    padding: 20px 4px;
    
    box-shadow: 0px 0px 16px  gray;
}
.card.one{
    border-top: solid 4px aqua;
}
.card.two{
    border-top: solid 4px red;
}
.card.three{
    border-top: solid 4px yellow;
}
.card.four{
    border-top: solid 4px rgb(0, 123, 255);
}
.card-image{
height: 32px;
width: 32px;
}
.card:hover{
    rotate: y 10deg;
    background-color: transparent;
     background:linear-gradient(45deg,rgb(223, 223, 95), 
     rgb(250, 122, 144)); 
     transition: 200ms;
}

.text{
    margin:12px 0px 12px 0px;
}
.text div{
    font-size: 1.25rem;
    margin-bottom: 8px;
}
.pict{
    text-align: right;
}

@media screen and (min-width:760px) {
   html{
    font-size: 18px;
    padding-bottom: 40px;
   }
    .info{
        max-width: 620px;
    }
    .cards{
        margin: 0;
      max-width: none;
      padding: 0 96px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     
        gap: 64px;

}

    .card-image{
        height: 48px;
        width: 48px;
    }
  

}